
div.content-wrapper {
  margin-top: 33vh;
}

.content-wrapper, form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p, input#text_message {
  text-align: center;
}

.instructions-wrapper {
  margin: 0 2em;
}
